/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px,1px,1px,1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important;
}

html {
	font-size: 20px;
}

body {
	color: #212529;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	line-height: 1.5;
	padding: 2rem;
}

main {
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;
}

.img-title {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	width: 15rem;
	max-width: 100%;
}

.subtitle {
	color: #343a40;
}

.clear,
.description,
.category,
.footer {
	color: #495057;
}

.header {
	margin-bottom: 2rem;
}

.links li {
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.list {
	display: flex;
	flex-direction: column;
	list-style: circle;
	padding-left: 2rem;
}

.list li {
	text-align: left;
	line-height: 1.5;
}

.category {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: .25rem;
}

.description {
	display: block;
	color: #495057;
	font-size: .9rem;
}

.footer {
	margin-top: 3rem;
}

@media screen and (min-width: 30em) {
	/* hide at 'smartphone' screens */
	.hide-ns {
		display: none!important;
	}
}
